.drop-file-container {
    position: relative;
}

.hover-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 88, 168, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--ylv-drop-file-container-hover-mask-z-index);
}

.hover-message {
    padding: 8px;
    color: #616161;
    font-size: 0.875rem;
    font-family: var(--ylv-ui-font-family), sans-serif;
    background-color: #f3f3f3;
    z-index: var(--ylv-drop-file-container-hover-message-z-index);
}
