.log-level-select-render-value-box {
    display: flex;
    gap: 2px;
}

.log-level-select-render-value-box-label {
    /* Disable `Chip`'s background style. */
    background-color: initial !important;
}

.log-level-select-render-value-box-label-disabled {
    /* stylelint-disable-next-line custom-property-pattern */
    color: var(--joy-palette-neutral-plainDisabledColor) !important;
}

.log-level-select-listbox {
    max-height: var(--ylv-list-box-max-height) !important;
}
