.settings-form-field-sections-group-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;
}

.settings-form-field-sections-group {
    gap: 0.5rem;
}
