:root {
    --status-bar-height: 32px;
    --menu-bar-height: 32px;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    flexDirection: "row";
    height: var(--status-bar-height);
    alignItems: "center";
}

.menu-bar-typography {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 2px;
}

.menu-bar-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor {
    height: calc(100vh - var(--menu-bar-height) - var(--status-bar-height));
}

.status-bar {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
}

.config-form-control {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 16px;
    width: 100%;
}

.status-message {
    flex-grow: 1;
}

.status-button {
    min-height: 0;
}
