.container {
    height: 100vh;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-container {
    height: calc(100vh - 32px - 32px);
}

.status-bar {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
}

.status-message {
    flex-grow: 1;
}

.status-button {
    min-height: 0;
}

:root {
    --status-bar-height: 32px;
    --menu-bar-height: 32px;
}
