.log-level-select-render-value-box {
    display: flex;
    gap: 2px;
}

.log-level-select-render-value-box-label {
    background-color: initial !important;
}

.log-level-select-listbox {
    max-width: 100px;
}

.log-level-select-dummy-option {
    display: none !important;
}
