html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

:root {
    /* z-index values */
    /* .monaco-editor .minimap { z-index: 5; } */
    --ylv-drop-file-container-hover-mask-z-index: 10;
    --ylv-drop-file-container-hover-message-z-index: 11;
}
