html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-size: 16px;
}

:root {
    /* font-family globals */
    --ylv-ui-font-family: -apple-system, BlinkMacSystemFont, system-ui, Ubuntu, "Droid Sans",
    Roboto;

    /* size globals */
    --ylv-status-bar-height: 32px;
    --ylv-menu-bar-height: 32px;

    /* z-index globals
     *
     * Other z-index values in the project for reference:
     * ```
     * .monaco-editor .minimap { z-index: 5; }
     * ```
     */
    --ylv-menu-bar-z-index: 6;
    --ylv-drop-file-container-hover-mask-z-index: 10;
    --ylv-drop-file-container-hover-message-z-index: 11;
}
