#menu-bar {
  display: flex;
  flex-wrap: wrap;
  height: 36px;

  align-items: center;

  font-size: 14px;
  color: white;
}

#menu-bar-left {
  flex-grow: 1;

  height: 100%;
}

#menu-bar-file-info {
  display: flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
}

#menu-bar-file-info-icon {
  margin-left: 6px;
  margin-right: 6px;
}


//.menu-item {
//  height: 100%;
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//  padding: 0 7px;
//}
//
//.menu-item-btn {
//  cursor: pointer;
//}

//.menu-divider {
//  width: 1px;
//  height: 100%;
//  background: #494c50;
//}

kbd {
  display: inline-block;
  border-radius: 4px;
  padding: 0.05em 0.25em;
  margin: 0 0.1em;
  font-size: 9px;
  background-color: #f7f7f7;
}

.modal-light {
  background-color: #fff !important;
  color: #000 !important;

  & .num-event-input {
    background-color: #fff !important;
    font-size: 14px;
    color: #000;
  }

  & .num-event-input:focus {
    color: #000;
  }

  & tr {
    color: #000;
  }

  & .modal-header {
    border-bottom: solid 0.5px #dee2e6;
  }

  & .modal-footer {
    border-top: solid 0.5px #dee2e6;
  }

  kbd {
    background: #565d64;
  }
}

.modal-dark {
  background-color: #333 !important;
  color: #fff !important;

  & .num-event-input {
    background-color: #0000 !important;
    font-size: 14px;
    color: #fff;
  }

  & .num-event-input:focus {
    color: #fff;
  }

  & tr {
    color: #fff;
  }

  & .modal-header {
    border-bottom: solid 0.5px #444;
  }

  & .modal-footer {
    border-top: solid 0.5px #444;
  }

  kbd {
    background: #000;
  }
}

#theme-dropdown-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#theme-dropdown-label {
  display: block;
  color: var(--foreground);
  font-size: var(--type-ramp-base-font-size);
  cursor: pointer;
  line-height: var(--type-ramp-base-line-height);
  margin-bottom: 2px;
}

#theme-dropdown {

}
