.search-tab-container {
    /* We apply overflow-x here because JoyUI has a rounding issue when calculating the Textarea width, causing it to overflow its container. */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.query-results {
    overflow-y: auto;
    flex-grow: 1;
}

.arrow-right-icon {
    margin-right: 2px;
    margin-left: 2px;
}

.query-input-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}
