.query-input-box {
    z-index: var(--ylv-panel-query-input-z-index);
    flex-direction: row !important;
}

.query-option-button {
    font-family: Inter, sans-serif !important;
}

.query-input-box-textarea {
    width: 0;
}

.query-input-box-end-decorator {
    display: block !important;
    margin-block-start: 0 !important;
}
