.query-option-button {
    width: 1.5rem !important;
    min-width: 0 !important;
    height: 1.5rem !important;
    min-height: 0 !important;

    font-family: Inter, sans-serif !important;
}

.query-input-box-textarea {
    width: 0;
    font-family: monospace !important;
}

.query-input-box-linear-progress {
    /* stylelint-disable-next-line custom-property-pattern */
    --LinearProgress-radius: 0 !important;
}
