.result-button {
    user-select: none;

    overflow: hidden;
    display: flex !important;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.result-text {
    display: inline !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.before-match,
.match,
.after-match {
    overflow: hidden;
    flex: 1 1 0; /* Allow each item to take an equal part */
    text-overflow: ellipsis;
}
