#verbosity-dropdown {
  display: flex;
  height: 24px;
  min-width: 80px;
  font-weight: 500;
}

#verbosity-dropdown::part(selected-value) {
  text-align: center!important;
}

#verbosity-dropdown::part(listbox) {
  z-index: 10;
  bottom: 1px;
}

#verbosity-dropdown vscode-option {
  justify-content: center;
}

#verbosity-dropdown::part(indicator) {
   display: none;
}
