:root {
    --input-bg: #fff;
    --input-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --input-bg: #222;
        --input-color: #fff;
    }
}

.timestamp-query-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timestamp-query-box-input {
    box-sizing: border-box;
    height: var(--ylv-menu-bar-height);
    border: none;

    font: inherit;
    color: var(--input-color);
    text-align: center;

    background-color: var(--input-bg);
}
