.timestamp-query-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--ylv-menu-bar-height);
}

.timestamp-query-box-input {
    box-sizing: border-box;
    height: 100%;
    border: none;

    font: inherit;
    text-align: center;
}

.timestamp-query-box-input.light {
    color: #222;
    background-color: #fff;
}

.timestamp-query-box-input.dark {
    color: #fff;
    background-color: #222;
}
