@use "sass:color";

$status-bar-background-color: #68217a;

#status-bar {
  display: flex;
  bottom: 0;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: white;
  background-color: $status-bar-background-color;
}

#status-bar-left {
    flex-grow: 1;
}

#status-bar-message-container {
    display: flex;
    align-items: center;
}

#status-bar-message-icon {
   margin-left: 6px;
   margin-right: 6px;
}

.status-prettify-accent {
  $default-background-color: #125c3a;

  background: $default-background-color;

  &:hover {
    background: #1b8152;

    &:disabled {
      background: $default-background-color;
    }
  }
}
