.status-bar {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
}

.status-message {
    padding-left: 8px;
    flex-grow: 1;
}

.status-button {
    min-height: 0;
}
