.status-bar {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
}

.status-message {
    flex-grow: 1;
    padding-left: 8px;
}
