.status-bar {
    box-shadow: 0 -1px 0 0 var(--joy-palette-neutral-outlinedBorder);
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
}

.status-message {
    padding-left: 8px;
    flex-grow: 1;
}
